<!DOCTYPE html>
  <html>
    <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="../static/main.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
    <div id="wrapper">
    
    <h1 align="center">
        Download and Test with DataSets from Physionet!
    </h1>
    <A HREF="https://www.physionet.org/static/published-projects/adfecgdb/abdominal-and-direct-fetal-ecg-database-1.0.0.zip">Abdominal and Direct Fetal ECG Database: </A>
        <p>
            Multichannel fetal electrocardiogram recordings obtained from 5 different women in labor, between 38 and 41 weeks of gestation.
        </p>
     <A HREF="https://physionet.org/static/published-projects/aftdb/af-termination-challenge-database-1.0.0.zip">AF Termination Challenge Database: </A>
        <p>
            ECG recordings created for the Computers in Cardiology Challenge 2004, which focused on predicting spontaneous termination of atrial fibrillation.
        </p>
    <A HREF= "https://physionet.org/static/published-projects/aami-ec13/ansiaami-ec13-test-waveforms-1.0.0.zip">ANSI/AAMI EC13 Test Waveforms:</A>
    <p>
        The files in this set can be used for testing a variety of devices that monitor the electrocardiogram. The recordings include both synthetic and real waveforms.
    </p>
    <A HREF= "https://physionet.org/static/published-projects/chfdb/bidmc-congestive-heart-failure-database-1.0.0.zip"> BIDMC Congestive Heart Failure Database</A>
    <p>
        Long-term ECG recordings from 15 subjects with severe congestive heart failure.
        <iframe id="inlineFrameExample"
        title="Inline Frame Example"
        width="300"
        height="200"
        src="https://physionet.org/lightwave/?db=chfdb/1.0.0">
    </iframe>
    </p>
    <A HREF="https://physionet.org/static/published-projects/bidmc/bidmc-ppg-and-respiration-dataset-1.0.0.zip">BIDMC PPG and Respiration Dataset:</A> 
    <p>
        ECG signals extracted from the MIMIC-II Matched Waveform Database, with manual breath annotations added by annotators using impedance respiratory signal.
    </p>
    <A HREF="https://storage.googleapis.com/butqdb-1.0.0.physionet.org/brno-university-of-technology-ecg-quality-database-but-qdb-1.0.0.zip"> Brno University of Technology ECG Quality Database (BUT QDB):</A>
    <p>
        The database is intended for the development and objective comparison of algorithms designed to assess the quality of ECG records. It also enables objective comparison of results between authors. 
    </p>
    <A HREF="https://physionet.org/static/published-projects/chbmit/chb-mit-scalp-eeg-database-1.0.0.zip">CHB-MIT Scalp EEG Database</A>
    <p>
    EEG recordings from pediatric subjects with intractable seizures, collected at the Children’s Hospital Boston.
    </p>
    <A HREF="https://physionet.org/static/published-projects/ecgcipa/cipa-ecg-validation-study-1.0.0.zip">CiPA ECG Validation Study:</A>
    <p>
        ECG effects of ranolazine, verapamil, lopinavir+ritonavir, chloroquine, dofetilide, diltiazem, and dofetilide+diltiazem in a small clinical study.
    </p>
    <A HREF="https://physionet.org/static/published-projects/cebsdb/combined-measurement-of-ecg-breathing-and-seismocardiograms-1.0.0.zip">Combined measurement of ECG, Breathing and Seismocardiograms:</A>
    <p>
        ECG and seismocardiogram data collected from 20 presumed healthy volunteers. 
    </p>
    <A HREF="https://physionet.org/static/published-projects/chf2db/congestive-heart-failure-rr-interval-database-1.0.0.zip">Congestive Heart Failure RR Interval Database:</A>
    <p>
        This database includes beat annotation files for 29 long-term ECG recordings of subjects aged 34 to 79, with congestive heart failure (NYHA classes I, II, and III).
    </p>



</div>
</body>
</html>