<!DOCTYPE html>
  <html>
    <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="../static/main.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
    <div id="wrapper">
    
    <div class="form_div">
    <p class="form_label">CREATE PROJECT</p>
    {% if name %}
    <p style="color:blue">Current User: {{ name }}</p>
    {% endif %}
    {% if info %}
    <p style="color:red">{{ info }}!</p>
    {% endif %}
    <form method="post" action="/form_createproject">
    <p><input type="text" name='projectName' placeholder="Enter Project Name"></p>
    <p><input type="text" name='projectID' placeholder="Enter Project ID"></p>
    <p><input type="text" name= 'description' placeholder="Enter Project Description"></p>
    <p><input type="submit" value="CREATE"></p>
    </form>
    </div>
    <br>
    <br>
    <br>
    <div class="form_div">
    <p class="form_label">SIGN INTO PROJECT</p>
    <form method="post" action="/form_signintoproject">
    <p><input type="text" name='projectID' placeholder="Enter Project ID"></p>
    <p><input type="submit" value="SIGN INTO"></p>
    </form>
    </div>

    
    <!-- can try either of the options below, first uses app route, second checks parent folder -->
    <A HREF=".." class="external">Logout</A>


    
</div>
</body>
</html>