<!DOCTYPE html>
  <html>
    <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="../static/main.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
    <div id="wrapper">
    <h1>
        Project ID Name
    </h1>
    <div class="form_div">
    <p class="form_label">Checkout Hardware Sets</p>
    <form method="post" action="/form_checkout">
    <p><input type="text" placeholder="Enter Amount for Set1"></p>
    <p><input type="text" placeholder="Enter Amount for Set2"></p>
    <p><input type="submit" value="Checkout"></p>
    </form>
    </div>
    <br>
    <br>
    <br>
    <div class="form_div">
    <p class="form_label">Checkin Hardware Sets</p>
    <form method="post" action="/form_checkin">
     <p><input type="text" placeholder="Enter Amount for Set1"></p>
    <p><input type="text" placeholder="Enter Amount for Set2"></p>
    <p><input type="submit" value="CheckIn"></p>
    </form>
    </div>
    <A HREF="downloads.html">Download Runnable DataSets</A>
</body>
</html>