<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body bgcolor = "orange">
    
<form action = "/form_login" method = "post">
    <h2></h2>Username:<br>
    <input type ="text" name ='username'><br>
    Password:<br>
    <input name='password' ><br><br>

<input type="submit" value="Login">
</form>
<h1 >{{info}}</h1>



  <div class="wrapper">
    <div class="container">
      
      <div class="signup">Sign Up</div>
      <div class="login">Log In</div>
      
       <div class="signup-form">
          <input type="text" name ='username' placeholder="Your Email Address" class="input"><br />
          <input type="password" name='password' placeholder="Choose a Password" class="input"><br />
          <div class="btn">Create account</div>
       </div>
      
      <div class="login-form">
          <input type="text" name ='username' placeholder="Email" class="input"><br />
          <input type="password" name='password' placeholder="Password" class="input"><br />
          <div class="btn">log in</div>
       </div>
      
    </div>
  </div>

</body>
</html>