<!DOCTYPE html>
  <html>
    <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="../static/main.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
    <div id="wrapper">
    
    <div class="form_div">
    <p class="form_label">LOGIN FORM</p>

    {% if info %}
    <p style="color:red">{{ info }}!</p>
    {% endif %}
    <form method="post" action="/form_login">
    <p><input type="text" name='username' placeholder="Enter Username"></p>
    <p><input type="password" name='password' placeholder="**********"></p>
    <p><input type="submit" value="LOGIN"></p>
    </form>
    </div>
    <br>
    <br>
    <br>
    <div class="form_div">
    <p class="form_label">SIGNUP FORM</p>
    {% if info2 %}
    <p style="color:red">{{ info2 }}!</p>
    {% endif %}
    <form method="post" action="/form_signup">
    <p><input type="text"  name='username' placeholder="Enter Username"></p>
    <p><input type="password" name='password'  placeholder="**********"></p>
    <p><input type="submit" value="SIGNUP"></p>

    </form>
    </div>
    
</div>
</body>
</html>